[submodule "common/Xeno.Prism.Template"]
	path = templates/Xeno.Prism.Template
	url = https://github.com/xenoinc/XenoXamarinTemplates
[submodule "lib/posh-git"]
	path = lib/posh-git
	url = https://github.com/dahlbyk/posh-git.git
